# Server
NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173

# Database
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password
MONGO_URI=mongodb://admin:password@127.0.0.1:27017/certificampus?authSource=admin

# Auth
JWT_ACCESS_SECRET =your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_RESET_EXPIRES_IN=1h
JWT_ACTIVATION_EXPIRES_IN=24h

# Email (SparkPost)
SPARKPOST_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=

# Diploma storage (relative to backend root)
DIPLOMA_DIR=storage/diplomas
PUBLIC_URL=http://localhost:4000
